*.py[co]
.Python
.DS_Store
/.vagrant/
/db.sqlite3
/docs/_build/
/bin/
/build/
/id_rsa
/include/
/lib/
/local
/man/
/passwd
/pip-selfcheck.json
/share/
/src/
/wheelhouse/
.env
.venv
env/
venv/
ENV/
nikita_venv/
winenv/
Fifty50/
*.log
local_settings.py
