*.py[co]
.Python
__pycache__/
*.py[cod]
*$py.class
.DS_Store
/.vagrant/
/db.sqlite3
/docs/_build/
/bin/
/build/
/id_rsa
/include/
/lib/
/local
/man/
/passwd
/pip-selfcheck.json
/share/
/src/
/wheelhouse/
.env
.venv
env/
venv/
ENV/
nikita_venv/
winenv/
myvenv/
Fifty50/
*.log
local_settings.py
/site
.mypy_cache/
pip-log.txt
pip-delete-this-directory.txt
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
.python-version
*.sqlite3
/project/fifty_fifty/fifty_fifty/mydatabase
public/
