{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% load i18n %}


{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<br>
<div class= 'col-md-4 col-md-offset-4' >
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.first_name|as_crispy_field }}
  {{ form.last_name|as_crispy_field }}
  {{ form.uniId|as_crispy_field }}
  {{ form.study_year|as_crispy_field }}
  {{ form.degree_programme|as_crispy_field }}
  {{ form.degree_major|as_crispy_field }}
  {{ form.gender|as_crispy_field }}
  {{ form.mentor_gender|as_crispy_field }}
  {{ form.why_mentor|as_crispy_field }}
  {{ form.why_div_equ_inc|as_crispy_field }}
  {{ form.mentee_number|as_crispy_field }}
  {{ form.hear_about|as_crispy_field }}
  {{ form.email|as_crispy_field }}
  {{ form.password1|as_crispy_field }}
  {{ form.password2|as_crispy_field }}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary btn-xl sr-button">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
{% endblock %}
