{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href={% static "MenteePage/img/logo.png" %}>

        <title>Fifty50 Mentoring Program</title>

        <!-- Bootstrap Core CSS -->
        <link href={% static "MenteePage/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

        <!-- Custom Fonts -->
        <link href={% static "MenteePage/vendor/font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">
        <!-- Plugin CSS -->
        <link href={% static "MenteePage/vendor/magnific-popup/magnific-popup.css" %} rel="stylesheet">

        <!-- Theme CSS -->
        <link href={% static "MenteePage/css/creative.min.css" %} rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

        <![endif]-->


    </head>
    <body>
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                      <a class="navbar-brand page-scroll" href="menteelogin.html">
                        Fifty50 Mentoring
                      </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href=content.html>Training & Content</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="news.html">News & Events</a>
                        </li>

                           <li>
                            <a class="page-scroll" href="mentor.html">My Mentor</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="resources.html">Resources</a>       <!-- login -->
                        </li>
                        <li>
                            <a class="page-scroll" href="FAQ.html">FAQ & Help</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="contact.html">Contact Us</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="profile.html">My Profile <img src={% static "MenteePage/img/unnamed.png" %} style="height:25px;width:25px; border-radius: 50%"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'account_logout' %}">Sign Out</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

<section id="weeklycontent" style="padding-bottom:40px;">
    <div class="container" style="text-align:center;">
      <h2 class="section-heading">THIS WEEK'S FOCUS:</h2>
      <hr>
        <div class="row" style="margin-bottom:20px;">
            <div class="col-sm-6" style="text-align:justify;">
                <p> Lorem ipsum dolor sit amet, graece quaestio sapientem te mei. Ad justo munere consectetuer quo, eirmod eripuit quo ei. Vel ullum omnium ocurreret no, ut sit graece melius lobortis, cu docendi contentiones has. No sea odio nusquam. Ei dico erat repudiandae eum, laoreet recusabo est ea, nec agam illum ridens at. Ignota delicata indoctum vim ea.
                    Et cetero fabulas pri. Eam an cetero sapientem salutatus, vim eu malis tibique delicatissimi. Ex oporteat complectitur vim. Et cum nisl facilis complectitur, sit sanctus habemus theophrastus in... </p>
            </div>
            <div class="col-sm-6">
                <img src={% static "MenteePage/img/newsphotos.jpg" %} style="max-width:100%;"></img>  <!-- added photo for decoration ********** -->
            </div>
        </div>
        <a href="content.html" class="btn btn-primary btn-xl sr-button">READ MORE</a>
    </div>
</section>

<section class="bg-primary" style="padding-bottom:200px;">
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
      <div class="container">
        <h2 class="section-heading" style="color:#000; "align="center" >Latest News and Events</h2>
        <hr>
          <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:400px;width:760px">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="http://placehold.it/760x400/cccccc/ffffff">
                 <div class="carousel-caption">
                  <h4><a href="#">Lorem ipsum dolor sit amet consetetur sadipscing</a></h4>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                </div>
              </div><!-- End Item -->

               <div class="item">
                <img src="http://placehold.it/760x400/999999/cccccc">
                 <div class="carousel-caption">
                  <h4><a href="#">consetetur sadipscing elitr, sed diam nonumy eirmod</a></h4>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                </div>
              </div><!-- End Item -->

              <div class="item">
                <img src="http://placehold.it/760x400/dddddd/333333">
                 <div class="carousel-caption">
                  <h4><a href="#">tempor invidunt ut labore et dolore</a></h4>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Read more</a></p>
                </div>
              </div><!-- End Item -->

              <div class="item">
                <img src="http://placehold.it/760x400/999999/cccccc">
                 <div class="carousel-caption">
                  <h4><a href="#">magna aliquyam erat, sed diam voluptua</a></h4>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                </div>
              </div><!-- End Item -->

              <div class="item">
                <img src="http://placehold.it/760x400/dddddd/333333">
                 <div class="carousel-caption">
                  <h4><a href="#">tempor invidunt ut labore et dolore magna aliquyam erat</a></h4>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                </div>
              </div><!-- End Item -->

            </div><!-- End Carousel Inner -->


          <ul class="list-group col-sm-4" style = "position: absolute; left: 760px; top: 0px;">
            <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4 style="color:black;">News 1</h4></li>
            <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4 style="color:black;">News 2</h4></li>
            <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4 style="color:black;">News 3</h4></li>
            <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4 style="color:black;">News 4</h4></li>
            <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4 style="color:black;">News 5</h4></li>
          </ul>

            <!-- Controls -->
            <div class="carousel-controls">
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
          </div><!-- End Carousel -->
          <div style="align:center">
              <a href="#news" class="blacklink">READ MORE...</a>
          </div>

</div> <!-- end container -->

</section><!-- End section -->

    <footer class="contact-footer">
                <div style="text-align:center;">
                        <span style="color:white;">Contact Us:</span>
                        <div style="padding-right:15px;"></div>
                        <a href="https://www.instagram.com/anu_fifty50/" style="margin-right:15px;"><i class="fa fa-lg fa-instagram text-primary sr-contact"></i></a>
                        <a href="contact.html" style="margin-right:15px;"><i class="fa fa-lg fa-envelope-o text-primary sr-contact"></i></a>
                        <a href="https://www.facebook.com/ANUFifty50STEM/" style="margin-right:15px;"><i class="fa fa-lg fa-facebook-official text-primary sr-contact"></i></a>
                        <a href="https://twitter.com/anu_Fifty50"><i class="fa fa-lg fa-twitter text-primary sr-contact"></i></a>   <!-- added fa-twitter icon -->
                </div>
    </footer>

    <!-- jQuery -->
    <script src={% static "MenteePage/vendor/jquery/jquery.min.js" %}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={% static "MenteePage/vendor/bootstrap/js/bootstrap.min.js" %}></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src={% static "MenteePage/vendor/scrollreveal/scrollreveal.min.js" %}></script>
    <script src={% static "MenteePage/vendor/magnific-popup/jquery.magnific-popup.min.js" %}></script>

    <!-- Theme JavaScript -->
    <script src={% static "MenteePage/js/creative.min.js" %}></script>

    <!-- jQuery -->
    <script src={% static "MenteePage/vendor/jquery/jquery.min.js" $}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={% static "MenteePage/vendor/bootstrap/js/bootstrap.min.js" %}></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src={% static "MenteePage/vendor/scrollreveal/scrollreveal.min.js" %}></script>
    <script src={% static "MenteePage/vendor/magnific-popup/jquery.magnific-popup.min.js" %}></script>

    <!-- Theme JavaScript -->
    <script src={% static "MenteePage/js/creative.min.js" %}></script>

</body>

</html>
{% endblock %}
