{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{%include 'nav.html' %}
    <section id="weeklycontent">
        <div class="container">
            <div class="row" style="padding:0;margin:0;">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading" style="color:#000">This week's focus:</h2>
                    <hr>
                    <p> Lorem ipsum dolor sit amet, graece quaestio sapientem te mei. Ad justo munere consectetuer quo, eirmod eripuit quo ei. Vel ullum omnium ocurreret no, ut sit graece melius lobortis, cu docendi contentiones has. No sea odio nusquam. Ei dico erat repudiandae eum, laoreet recusabo est ea, nec agam illum ridens at. Ignota delicata indoctum vim ea.
Et cetero fabulas pri. Eam an cetero sapientem salutatus, vim eu malis tibique delicatissimi. Ex oporteat complectitur vim. Et cum nisl facilis complectitur, sit sanctus habemus theophrastus in... </p>
                    <a href="content.html" class="btn btn-primary btn-xl sr-button"><span style="color:#111;">Click here to read more!</a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary">
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <h2 class="section-heading" style="color:#000"><center>News</center></h2>
        <hr class="primary">
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://placehold.it/760x400/cccccc/ffffff">
                        <div class="carousel-caption">
                            <h4><a href="#">Lorem ipsum dolor sit amet consetetur sadipscing</a></h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item">
                        <img src="http://placehold.it/760x400/999999/cccccc">
                        <div class="carousel-caption">
                            <h4><a href="#">consetetur sadipscing elitr, sed diam nonumy eirmod</a></h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item">
                        <img src="http://placehold.it/760x400/dddddd/333333">
                        <div class="carousel-caption">
                            <h4><a href="#">tempor invidunt ut labore et dolore</a></h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item">
                        <img src="http://placehold.it/760x400/999999/cccccc">
                        <div class="carousel-caption">
                            <h4><a href="#">magna aliquyam erat, sed diam voluptua</a></h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item">
                        <img src="http://placehold.it/760x400/dddddd/333333">
                        <div class="carousel-caption">
                            <h4><a href="#">tempor invidunt ut labore et dolore magna aliquyam erat</a></h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                        </div>
                    </div>
                    <!-- End Item -->
                </div>
                <!-- End Carousel Inner -->
                <ul class="list-group col-sm-4">
                    <li data-target="#myCarousel" data-slide-to="1" class="list-group-item">
                        <h4>consetetur sadipscing elitr, sed diam nonumy eirmod</h4>
                    </li>
                    <li data-target="#myCarousel" data-slide-to="2" class="list-group-item">
                        <h4>tempor invidunt ut labore et dolore</h4>
                    </li>
                    <li data-target="#myCarousel" data-slide-to="3" class="list-group-item">
                        <h4>magna aliquyam erat, sed diam voluptua</h4>
                    </li>
                    <li data-target="#myCarousel" data-slide-to="4" class="list-group-item">
                        <h4>tempor invidunt ut labore et dolore magna aliquyam erat</h4>
                    </li>
                </ul>
                <!-- Controls -->
                <div class="carousel-controls">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <!-- End Carousel -->
        </div>
        <section class="bg-primary">
 +                  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
 +                  <h2 class="section-heading" style="color:#000">News</h2>
 +              </section>
        <!-- end container -->
        <hr>
        <a href="#news" class="btn btn-primary btn-xl sr-button; col-sm-12 text-center" style="width: 10%; left:45%; align:center"><span style="color:#111;">More News!</a>
    </section>
  
    <!-- jQuery -->
    <script src={% static "vendor/jquery/jquery.min.js" %}></script>
    <!-- Bootstrap Core JavaScript -->
    <script src={% static "vendor/bootstrap/js/bootstrap.min.js" %}></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src={% static "vendor/scrollreveal/scrollreveal.min.js" %}></script>
    <script src={% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}></script>
    <!-- Theme JavaScript -->
    <script src={% static "js/creative.min.js" %}></script>
    <!-- jQuery -->
    <script src={% static "vendor/jquery/jquery.min.js" %}></script>
    <!-- Bootstrap Core JavaScript -->
    <script src={% static "vendor/bootstrap/js/bootstrap.min.js" %}></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src={% static "vendor/scrollreveal/scrollreveal.min.js" %}></script>
    <script src={% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}></script>
    <!-- Theme JavaScript -->
    <script src={% static "js/creative.min.js" %}></script>
</body>
{% endblock %}
