{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{%include 'nav.html' %}
    <div class="container">
</div>
    <h1><div class="row">
            <div class="row">
                <h1>How Amazing was your Week?</h1>
                <h4>Did you meet up with your partner?</h4>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">No</button>
                    <button type="button" class="btn btn-default">Online</button>
                    <button type="button" class="btn btn-default">In Person</button>
                </div>
            </div>
            <section>
                <div class="container">
                    <h4>How would you rate fifty50 so far?</h4>
                    <div class="row lead evaluation">
                        <div id="colorstar" class="starrr ratable badForm"></div>
                        <span id="count">0</span> star(s) -
                        <span id="meaning"> </span>
                        <div class='indicators' style="display:none">
                            <div id='textwr'>What went wrong?</div>
                            <input id="rate[]" name="rate[]" type="text" placeholder="" class="form-control input-md" style="display:none;">
                            <input id="rating[]" name="rating[]" type="text" placeholder="" class="form-control input-md rateval" style="display:none;">
                            <span class="button-checkbox"><button type="button" class="btn criteria" data-color="info">Usefull</button><input type="checkbox" class="hidden" /></span>
                            <span class="button-checkbox"><button type="button" class="btn criteria" data-color="info">Interesting</button><input type="checkbox" class="hidden" /></span>
                            <span class="button-checkbox"><button type="button" class="btn criteria" data-color="info">Accessable</button><input type="checkbox" class="hidden" /></span>
                        </div>
                    </div>
                </div>
            </section>
            <h4>Would you like to provide anymore feedback?</h4>
            <textarea class="textarea"></textarea>
            <div class="row">
</div>
            <button type="button" class="btn btn-default">Submit</button>
        </div></h1>




    <section class="bg-dark" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center" style="padding-bottom:15px;">
                    <h2 class="section-heading">Contact Us</h2>
                    <hr class="primary">
                    <p>Catch us on campus or contact us through our social networking sites!</p>
                        <a href="https://www.instagram.com/anu_fifty50/" style="margin-right:15px;"><i class="fa fa-3x fa-instagram text-primary sr-contact"></i></a>
                        <a href="mailto:anu.fifty50@gmail.com" style="margin-right:15px;"><i class="fa fa-3x fa-envelope-o text-primary sr-contact"></i></a>
                        <a href="https://www.facebook.com/ANUFifty50STEM/"><i class="fa fa-3x fa-facebook-official text-primary sr-contact"></i></a>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery -->
    <script src={% static "vendor/jquery/jquery.min.js" %}></script>
    <!-- Bootstrap Core JavaScript -->
    <script src={% static "vendor/bootstrap/js/bootstrap.min.js" %}></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src={% static "vendor/scrollreveal/scrollreveal.min.js" %}></script>
    <script src={% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}></script>
    <!-- Theme JavaScript -->
    <script src={% static "js/creative.min.js" %}></script>

    <!-- NEED THIS-->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static "assets/js/jquery.min.js" %}></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src={% static "assets/js/ie10-viewport-bug-workaround.js" %}></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src={% static "bootstrap/js/star-rating.js" %} type="text/javascript"></script>

    <!-- Bootstrap core CSS -->
    <link href={% static "bootstrap/css/bootstrap.css" %} rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href={% static "style.css" %} rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

<!-- CUSTOM CODE -->
    <link href={% static "bootstrap/css/star-rating.css" %} media="all" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- CUSTOM CODE -->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">




{% endblock %}
