{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href={% static "MenteePage/img/logo.png" %}>

        <title>Fifty50 Mentoring Program</title>

        <!-- Bootstrap Core CSS -->
        <link href={% static "MenteePage/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

        <!-- Custom Fonts -->
        <link href={% static "MenteePage/vendor/font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">
        <!-- Plugin CSS -->
        <link href={% static "MenteePage/vendor/magnific-popup/magnific-popup.css" %} rel="stylesheet">

        <!-- Theme CSS -->
        <link href={% static "MenteePage/css/creative.min.css" %} rel="stylesheet">

    <!-- CUSTOM CODE -->
        <link href={% static "MenteePage/css/star-rating.css" %} media="all" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- CUSTOM CODE -->
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> Changes overall look -->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

        <![endif]-->


    </head>
    <body>
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="menteelogin.html">
                      Fifty50 Mentoring
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href=content.html>Training & Content</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="news.html">News & Events</a>
                        </li>

                           <li>
                             <a class="page-scroll" href="mentor.html">My Mentor</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="resources.html">Resources</a>       <!-- login -->
                        </li>
                        <li>
                            <a class="page-scroll" href="FAQ.html">FAQ & Help</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="contact.html">Contact Us</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        <li>
                         <a class="page-scroll" href="profile.html">My Profile <img src={% static "MenteePage/img/unnamed.png" %} style="height:25px;width:25px; border-radius: 50%"></a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="container" style="text-align: center; margin-top: 5%;">
          <div class="container" style="position:relative; margin-top:10%;">
              <div class="jumbotron">
                  <div class="row">
                      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                          <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img">
                      </div>
                      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                          <div class="container" style="border-bottom:1px solid black">
                              <h3>Your mentor...</h3>
                              <hr>
                              <h2>MentorFName MentorLName</h2>
                          </div>
                          <ul class="container details">
                              <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+91 90000 00000</p></li>
                              <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>somerandom@email.com</p></li>
                              <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Hyderabad</p></li>
                              <li><p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">www.example.com</p></a>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>

        <h1>
          <div class="row">
                <div class="row">
                    <h1>How amazing was your week?</h1>
                    <hr>
                    <h4>Did you meet up with your partner?</h4>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">No</button>
                        <button type="button" class="btn btn-default">Online</button>
                        <button type="button" class="btn btn-default">In Person</button>
                    </div>
                </div>
                <div class="col-sm-12 text-center">

                    <div class="container" style="width:100%; text-align:center;">
                        <h4>How would you rate Fifty50 so far?</h4>
                        <div class="row lead evaluation">
                            <div id="colorstar" class="starrr ratable badForm"></div>
                            <span id="count">0</span> star(s) -
                            <span id="meaning"> </span>
                            <div class='indicators' style="display:none">
                                <div id='textwr'>What went wrong?</div>
                                <input id="rate[]" name="rate[]" type="text" placeholder="" class="form-control input-md" style="display:none;">
                                <input id="rating[]" name="rating[]" type="text" placeholder="" class="form-control input-md rateval" style="display:none;">
                                <span class="button-checkbox"><button type="button" class="btn criteria" data-color="info">Useful</button><input type="checkbox" class="hidden" /></span>
                                <span class="button-checkbox"><button type="button" class="btn criteria" data-color="info">Interesting</button><input type="checkbox" class="hidden" /></span>
                                <span class="button-checkbox"><button type="button" class="btn criteria" data-color="info">Accessible</button><input type="checkbox" class="hidden" /></span>
                            </div>
                        </div>
                    </div>
                  </div>
                <h4>Would you like to provide any more feedback?</h4>
                <input type="text" style="font-size:12px;" placeholder="e.g. I really enjoyed..... / The program can be improved by....."/>
                <div class="row" style="margin-bottom: 35px;">
                    <a href="mailto:nikitabhatia.17@gmail.com" class="btn btn-primary btn-xl sr-button">Submit</a>
                </div>
          </h1>
          </div>
        </div>




        <footer class="contact-footer">
                    <div style="text-align:center;">
                            <span style="color:white;">Contact Us:</span>
                            <div style="padding-right:15px;"></div>
                            <a href="https://www.instagram.com/anu_fifty50/" style="margin-right:15px;"><i class="fa fa-lg fa-instagram text-primary sr-contact"></i></a>
                            <a href="contact.html" style="margin-right:15px;"><i class="fa fa-lg fa-envelope-o text-primary sr-contact"></i></a>
                            <a href="https://www.facebook.com/ANUFifty50STEM/" style="margin-right:15px;"><i class="fa fa-lg fa-facebook-official text-primary sr-contact"></i></a>
                            <a href="https://twitter.com/anu_Fifty50"><i class="fa fa-lg fa-twitter text-primary sr-contact"></i></a>   <!-- added fa-twitter icon -->
                    </div>
        </footer>

        <!-- jQuery -->
        <script src={% static "MenteePage/vendor/jquery/jquery.min.js" %}></script>

        <!-- Bootstrap Core JavaScript -->
        <script src={% static "MenteePage/vendor/bootstrap/js/bootstrap.min.js" %}></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src={% static "MenteePage/vendor/scrollreveal/scrollreveal.min.js" %}></script>
        <script src={% static "MenteePage/vendor/magnific-popup/jquery.magnific-popup.min.js" %}></script>

        <!-- Theme JavaScript -->
        <script src={% static "MenteePage/js/creative.min.js" %}></script>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src={% static "MenteePage/js/jquery.min.js" %}></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src={% static "MenteePage/js/ie10-viewport-bug-workaround.js" %}></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src={% static "MenteePage/js/star-rating.js" %} type="text/javascript" ></script>
    </body>

</html>

{% endblock %}
