{% load staticfiles %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href={% url 'home' %}>Fifty50 Mentoring</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="content.html">Weekly Content</a>
                </li>
                <li>
                    <a class="page-scroll" href="news.html">News & Events</a>
                </li>
                <li>
                    <a class="page-scroll" href="mentor.html">My Mentor</a>
                </li>
                <li>
                    <a class="page-scroll" href="resources.html">Resources</a>
                    <!-- login -->
                </li>
                <li>
                    <a class="page-scroll" href="FAQ.html">FAQ & Help</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'account_logout' %}">Sign Out</a>
                </li>
                <li>
                    <a class="page-scroll" href="profile.html">My Profile
                        <img src={% static "img/unnamed.png"%} style="height:25px;width:25px; border-radius: 50%">
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
