<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Fifty50 Mentoring</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Training & Content</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#news">News & Events</a>
                    </li>
                       <li>
                        <a class="page-scroll" href="#profile">My Profile</a>
                    </li>
                       <li>
                        <a class="page-scroll" href="#mentees">My Mentees</a>
                    </li>
                                        <li>
                        <a class="page-scroll" href="#resources">Resources</a>       <!-- login -->
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">FAQ & Help</a>
                    </li>
                                        <li>
                        <a class="page-scroll" href="#signout">Sign Out</a>
                    </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Jane Doe <img src="img/unnamed.png" style="height:25px;width:25px">
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">My Profile</a></li>
          <li><a href="#">Account Settings</a></li>
          <li><a href="#">Sign out</a></li>
        </ul>
      </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
