{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{%include 'nav.html' %}

<div class="container" style="position:relative; top:5%">
    <div class="jumbotron">
      <div class="row">
          <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
              <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img">
          </div>
          <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
              <div class="container" style="border-bottom:1px solid black">
                <h2>{{user.first_name}} {{user.last_name}}</h2>
              </div>
                <hr>
              <ul class="container details">
                <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+91 90000 00000</p></li>
                <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{user.email}}</p></li>
                <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Hyderabad</p></li>
                <li><p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">www.example.com</p></a>
              </ul>
          </div>
      </div>
    </div>



    <section class="bg-dark" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center" style="padding-bottom:15px;">
                    <h2 class="section-heading">Contact Us</h2>
                    <hr class="primary">
                    <p>Catch us on campus or contact us through our social networking sites!</p>
                        <a href="https://www.instagram.com/anu_fifty50/" style="margin-right:15px;"><i class="fa fa-3x fa-instagram text-primary sr-contact"></i></a>
                        <a href="mailto:anu.fifty50@gmail.com" style="margin-right:15px;"><i class="fa fa-3x fa-envelope-o text-primary sr-contact"></i></a>
                        <a href="https://www.facebook.com/ANUFifty50STEM/"><i class="fa fa-3x fa-facebook-official text-primary sr-contact"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src={% static "vendor/jquery/jquery.min.js" %}></script>
    <!-- Bootstrap Core JavaScript -->
    <script src={% static "vendor/bootstrap/js/bootstrap.min.js" %}></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src={% static "vendor/scrollreveal/scrollreveal.min.js" %}></script>
    <script src={% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}></script>
    <!-- Theme JavaScript -->
    <script src={% static "js/creative.min.js" %}></script>
    <!-- jQuery -->
    <script src={% static "vendor/jquery/jquery.min.js" %}></script>
    <!-- Bootstrap Core JavaScript -->
    <script src={% static "vendor/bootstrap/js/bootstrap.min.js" %}></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src={% static "vendor/scrollreveal/scrollreveal.min.js" %}></script>
    <script src={% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}></script>
    <!-- Theme JavaScript -->
    <script src={% static "js/creative.min.js" %}></script>


  {% endblock %}
